@use './partials/variables' as *;
@import '~bootstrap/scss/bootstrap';
$fa-font-path: "../fonts/webfonts" !default;
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

body{
    background-color: $orange;
}


main{
    height:80vh;
}

.root-color {
    background-color: $pink;
}

.root-color a:hover{
    color:$yellow;
    transition: 0.5s;
}

.links{
    color:$yellow;
}

.btn-yellow{
    background-color:$yellow;
}
.btn-yellow:hover{
    background-color:$blue;
}
.btn-blue{
    background-color:$blue;
}

#app{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    display:flex;
    align-items: center;
    justify-content: center;
}

main p{
    font-size: 2rem;
}

footer .links i:hover{
    color:$blue;
    transition:0.5s;
}
